/ejercicio13.class
/ejercicio16.class
/ejercicio17.class
/ejercicio18.class
/ejercicio20.class
/ejerciciowhile.class
/empezandowhile.class
/juegoadivinar.class
/menuwhile.class
/pruebamenu.class
/pruebaswitch.class
/ejerciciounoxd.class
