/ejercicio38.class
/ejercicio41.class
/ejercicio54.class
/ejercicio60.class
/ejercicio61.class
/ejercicio62.class
/ejercicio64.class
/elrombo.class
/empezandofor.class
/esprimo.class
/factorialfor.class
/nummaspequeno.class
/sumaconfor.class
/tablamultiplicar.class
/tablasdemultiplicar.class
/todoslosprimoshasta.class
/todoslosprimoslareves.class
